.contaier {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 25px;
    background-color: #0d484e;
}

.left {
    flex-basis: 45%;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
}

.left h1 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;

}

.left p {
    color: #fff;
    text-align: justify;
    font-weight: 500;
    font-family: 'Esteban', serif;
    line-height: 27px;
    font-size: .7rem;
}

.left a{
    background-color: aqua;
    padding: 15px 50px;
    border-radius: 15px;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    transition: all .3s ease;
}

.left a:hover{
    background-color: #045b62;
}

.right div img {

    display: block;
}

.right div{
    position: relative;
    padding: 25px ;

}
.right div::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;

    border-color: #fff;
    border-style: solid;
    border-width: 4px 0 0 4px;


}
.right div::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;

    border-color: #fff;
    border-style: solid;
    border-width: 0px 4px 4px 0;


}