.contaier {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 25px;
    background-color: #0d484e;
}

.left {
    flex-basis: 45%;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
}

.left h1 {
    color: #fff;
    font-family: 'Playfair Display', serif;

}

.left p {
    color: #fff;
    text-align: justify;
    font-weight: 500;
    font-family: 'Roboto Flex', sans-serif;
    line-height: 20px;
}

.left a{
    background-color: aqua;
    padding: 15px 50px;
    border-radius: 15px;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    transition: all .3s ease;
}

.left a:hover{
    background-color: #045b62;
}

.right div img {

    display: block;
}